<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Message Server</title>
    {% endblock %}
    <style>
        body {background-color: powderblue}
        h1 {
            color: red;
            font-size: 150%;
        }
        footer {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 40px;
            width: 100%;
            background: #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid white;
            letter-spacing: 5px;
        }
    </style>
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
            &copy; Copyright 2022 by <strong>117marta</strong>
        {% endblock %}
    </footer>
</body>

</html>