{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        body {background-color: red; }
        .greeting {
            color: rgba(255, 255, 255);
            border: black solid 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            background: linear-gradient(90deg, rgba(255, 0, 0), rgba(0, 255, 0), rgba(0 , 0, 255));
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if username_from_session %}
        <div class="greeting">
            <div>Hello!</div><br>
            <div>Local time: {{ strftime('%d-%m-%Y %H:%M:%S') }}<br>
                UTC time: {{ now }}</div>
        </div>
        <p>Logged as: <strong>{{ username_from_session }}</strong>
        <a href={{ url_for('logout') }}><button>Logout</button></a></p><br>
        Go to:
        <p><a href={{ url_for('get_messages') }}>Messages</a>
        <a href={{ url_for('get_users') }}>Users</a></p>
    {% else %}
        <p>You are not logged in!</p>
        <p><a href={{ url_for('login') }}><button>Login</button></a>
        <a href={{ url_for(endpoint='create_user') }}><button>Create an account</button></a></p>
    {% endif %}
{% endblock %}
